@charset "utf-8";
/* CSS Document */
html,body,div,ul,ol,li,p,h3,h4,span,input,textarea,select,option,table,tr,td,h2,h1,dl,dt,dd,
h5{padding:0;margin:0;box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
body{font-family:"微软雅黑";width:100%;height:100%;/*overflow: hidden;*/min-width:320px;color:#000;-moz-text-size-adjust:none;-webkit-text-size-adjust:none;text-size-adjust:none;font-size: 14px;-webkit-overflow-scrolling: touch; /* ios5+ */}
img{border:none;}
html{font-size:100px;}
ul,li{list-style-type:none;}
input{outline: none;}
em,i{font-style:normal;}
a{text-decoration:none; color:#000;}
.clear{display: block;overflow: hidden;clear: both;height: 0;line-height: 0;font-size: 0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{height:1%;}
.pr{position: relative;z-index: 0;}joinmsdv\n
.pa{position: absolute;}
.fl{float:left; display:block;}
.fr{float:right; display:block;}
.dqwz{text-align:justify; text-justify:inter-ideograph;}
.main{width:100%;height:100%;min-width:320px;margin:0 auto;max-width:750px;overflow: hidden;}
.cls{ clear:both;}
input[type=”button”], input[type=”submit”], input[type=”reset”] {-webkit-appearance: none;vertical-align: middle;}
/****iconfont****/
@font-face {font-family: 'iconfont';
    src: url('../fonts/iconfont.eot'); 
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/iconfont.woff') format('woff'), 
    url('../fonts/iconfont.ttf') format('truetype'), 
    url('../fonts/iconfont.svg#uxiconfont') format('svg'); 
}
.iconfont{
    font-family:"iconfont" !important;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.joinmsdv{background: #ff8500;width: 100%;padding: 0.45rem 0 0.7rem 0;}
.joinms{width:6.86rem;margin:0 auto;font-size: 0.26rem;line-height:0.38rem;color:#fff;text-align: justify;display: block;padding-bottom: 0.1rem;}

.joinimgbj{width: 100%;}
.joinimgbj>img{width: 100%;}

.joinresg{width: 100%;height: 4rem;background:url(../teimg/joinimg_04.jpg) no-repeat;background-size: cover;}
.jointel{width:5.2rem;height: 0.86rem;border-radius: 0.1rem;background: #fff;margin:0rem auto 0.4rem auto;position: relative;border-radius: 0.8rem;}
.jointel>input{display: block;border: none;background: none;width:100%;height: 0.86rem;text-align: center;font-size: 0.28rem;}
.joinqq{width:5.2rem;height: 0.86rem;border-radius: 0.1rem;background: #fff;margin:auto;position: relative;border-radius: 0.8rem;}
.joinqq>input{display: block;border: none;background: none;width:100%;height: 0.86rem;text-align: center;font-size: 0.28rem;}
.joinbtn{display: block;background: url(../teimg/joinimgbtn.png) no-repeat;background-size: cover;width:4rem;height:1.05rem;border: none;margin: auto;}
.joinerrmeg{display: block;height: 0.6rem;width: 4.8rem;font-size: 0.22rem;color: #fff;line-height: 0.6rem;text-align: center;margin: auto;}
.joinder{display: block;width: 4.8rem;font-size: 0.24rem;color: #0a5a84;line-height: 0.24rem;margin: auto;margin-top: 0.3rem;text-align: center;}

.jointel label{color:#fff !important;font-size:0.22rem !important;position: absolute;left: 0;bottom: -1.73rem;width: 100%;text-align: center;}
.joinqq label{color:#fff !important;font-size:0.22rem !important;position: absolute;left: 0;bottom: -0.45rem;width: 100%;text-align: center;}

.successimg,.regtc{position:fixed;left: 0;top: 0;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#B2000000', endColorstr='#B2000000');background:rgba(0,0,0,0.7);width: 100%;height: 100%;z-index: 99;}
.successimg>p,.regtc>p{width:4rem;position:absolute;left: 50%;margin-left: -2rem;top:50%;margin-top: -2.38rem;background: #fff;border-radius: 0.2rem;}
.successimg>p{height:4.76rem;}
.regtc>p{height:3rem;}
.successimg>p>i,.regtc>p>i{display: block;width: 0.41rem;height: 0.41rem;position: absolute;right: 0.2rem;top: 0.2rem;background: url(../teimg/closebtn.png) no-repeat; background-size: cover;}
.successimg>p>img{display: block;width: 2.84rem;height: 2.57rem;position: absolute;left: 50%;margin-left: -1.42rem;top:0.5rem;}
.successimg>p>em{width:100%;display: block;position: absolute;top:3.5rem;font-size: 0.36rem;color: #4a9ff8;line-height: 0.36rem;text-align: center;}
.regtc>p>em{width:100%;display: block;position: absolute;top:1.1rem;font-size: 0.3rem;color: #666;line-height: 0.36rem;text-align: center;}
.regtc>p>span{width:2rem;height:0.6rem;display: block;position: absolute;top:2rem;left:1rem;font-size: 0.34rem;color: #fff;line-height: 0.6rem;text-align: center;background: #4a9ff8;border-radius:0.3rem;}
.successimg>p>span{width:100%;display: block;position: absolute;top:4.1rem;font-size: 0.3rem;color: #666;line-height: 0.3rem;text-align: center;}
.curdis{display: none !important;}


.yijianaa,.yijianaa>img{display: block;width: 100%;}


